window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^kitty"#
    match app-id=r#"^com.mitchellh.ghostty"#
    // default-column-width 
    // open-maximized true
    //opacity 0.95
    opacity 1.0
 }

window-rule {
    match title=r#"^kohi"#
    //focus-at-startup true
    open-focused true
    open-on-workspace "3"
}

window-rule {
    match app-id=r#"^dev.zed.Zed"#
    open-maximized true
 }

 window-rule {
	 match title=r#"^Sign in – Google accounts - Brave"#
	 open-floating true
  	default-column-width { fixed 420; }
	default-window-height { fixed 180; }
 }

window-rule {
  match title=r#"Pick Source Color"#
  open-floating true
  default-column-width { fixed 420; }
  default-window-height { fixed 180; }
}


 window-rule {
     match app-id=r#"^thunar"#
     // match app-id=r#"^org.gnome.Nautilus"#
     open-maximized false
     default-column-width
     // opacity 0.95
    // default-window-height { fixed 700; }
 }

 window-rule {
     match title=r#"^Select  File"#
     open-focused true
     open-floating true
    default-window-height { fixed 700; }
 }

 window-rule {
     match app-id=r#"^org.pulseaudio.pavucontrol"#
     open-floating true
     open-focused true
    default-window-height { fixed 700; }
    default-column-width { proportion 0.50; }
 }

window-rule {
  match app-id=r#"^chromium-browser"#
  match app-id=r#"^firefox"#
  match app-id=r#"^helium"#
  match app-id=r#"^brave-browser-nightly"#
   open-maximized true
   // open-floating true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
